* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3ce2ff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.playerChoice {
    grid-area: 2 / 1 / 2 / 2 ;
    justify-self: end;
    display: grid;
    grid-template-rows: 1fr .5fr;
}

.titleUseX,
.titleUseO {
    margin-bottom: .5rem;
}

.choicePlayer1 {
    margin-bottom: 1rem;
}

.containerPlayer1,.containerPlayer2 {
    display: grid;
    font-size: 1.2rem;
    font-weight: 900;
}

label {
    text-align: center;
    background-color: rgb(125, 247, 176);
    border: .2rem solid black;
    border-radius: .3rem;
    padding: .2rem;
    margin-bottom: .5rem;
}

.label2 {
    background-color: rgb(235, 247, 125);
}

input {
    width: 9rem;
    height: 1.5rem;
    justify-self: center;
    font-size: 1rem;
    font-weight: 900;
    text-indent: 1rem;
    border-radius: .5rem;
    border: .2rem solid;
}

input:hover,input:focus {
    border-color: orange;
    outline: none;
}

.charactersMax {
    font-size: .8rem;
    justify-self: center;
}

.choicePlayer2 {
    margin-bottom: 3rem;
}

.btnStart {
    justify-self: center;
}

.scoreboard {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    justify-items: center;
    margin: 1rem;
}

.scorePlayer1,
.tiePlayers,
.scorePlayer2 {
    width: 7.5rem;
    height: 4rem;
    text-align: center;
    border: .3rem solid;
    border-radius: .4rem;
    padding: .5rem .5rem 0;
    box-shadow: 0 0 .3rem black;
}

.tiePlayers {
    width: fit-content;
}

.scorePlayer1 {
    background-color: rgb(125, 247, 176);
}

.tiePlayers {
    background-color: rgb(223, 223, 223);
}

.scorePlayer2 {
    background-color: rgb(235, 247, 125);
}

.playerTurn {
    border: .3rem solid orange;
    box-shadow: 0 0 .3rem rgb(226, 147, 0);
}

.tieEnd {
    border: .3rem solid rgb(226, 45, 0);
    box-shadow: 0 0 .3rem rgb(226, 45, 0);
}

.score1,
.tieScore,
.score2 {
    text-align: center;
    font-size: 2rem;
}

.winColor {
    color: orange;
    font-weight: 700;
}

.winColor2 {
    border-color: black;
}

.gameBoard {
    grid-area: 2 / 2 / 3 / 3;
    width: 25rem;
    height: 25rem;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: .2rem solid;
    border-radius: .4rem;
    box-shadow: 0 0 .3rem black;
}

.fakeGameBoard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    font-size: 4.5rem;
    text-align: center;
    align-items: center;
}

[class^= square] {
    font-size: 6.5rem;
    text-align: center;
    background-color: white;
    border: .2rem solid;
}

[class^= square]:hover {
    background-color: rgb(199, 199, 199);
}

button {
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: rgb(219, 217, 217);
    box-shadow: 0 .2rem #a5a5a5,
    0 .3rem black,
    0 0 .2rem black;
}

button:hover {
    background-color: rgb(209, 207, 207);
}

button:active {
    box-shadow: 0 .2rem #666;
    transform: translateY(.2rem);
}

.btnPlayer1 {
    background-color: rgb(125, 247, 176);
}

.btnPlayer1:hover {
    background-color: rgb(74, 247, 146);
}

.btnPlayer2 {
    background-color: rgb(235, 247, 125);
}

.btnPlayer2:hover {
    background-color: yellow;
}

.restartDiv {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    margin-top: 1rem;
}

#restartBtn {
    width: 8rem;
    height: 3rem;
}